// groups/watch
.block-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 64px;
}
.block-notifile {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
}
.notifile-img {
    width: 300px;
}
