<footer class="footer">
  <div class="container">
    <div class="content">
      <div class="content-child content-title">hieurury</div>
      <div class="content-child content-info">
        Địa chỉ: Thành phố Cần Thơ - Việt Nam. <br>
        Email: hieurury007@gmail.com. <br>
        Phone number: 0329878030. <br>
      </div>
    </div>
    
  <div class="content">
    <div class="content-child content-title">Cộng đồng</div>
    <a class="content-child .content-info">hieurury</a>
    <a class="content-child .content-info">github</a>
    <a class="content-child .content-info">facebook</a>
  </div>

  <div class="content">
    <div class="content-child content-title">Cam kết</div>
    <a class="content-child .content-info">Điều khoản</a>
    <a class="content-child .content-info">Bảo mật</a>
    <a class="content-child .content-info">Dịch vụ</a>
  </div>

    <div class="content">
      <div class="content-child content-title">Slogan</div>
      <div class="content-child content-info">
        Dẫu phía trước có là một màn đêm mịch mờ tâm tối. <br>
        Thì ở đây bạn vẫn sẽ thấy toàn code và đầy bug. <br>
      </div>
    </div>
  </div>
  <div class="footer-end">
    <div class="coppy-right">@Trang web tiện ích cho việc học tập - chia sẻ</div>
    <a class="contact">
      <i class="bi bi-envelope"></i>
      Liên hệ cho chúng tôi
    </a>
  </div>
</footer>