<h1 class="page-title">Các tài liệu hiện có</h1>
<div class="row">
    {{#each groups}}
        <div  class="blog-item" style="width: 18rem;">
            <div class="container-img">
                <img src="{{this.img}}" class="card-img-top" alt="...">
            </div>
            <div class="container-content">
                <h5 class="content-title">{{this.name}}</h5>
                <p class="content-subtitle">{{this.description}}</p>
                <a href="/groups/{{this.slug}}" class="button-normal button--small">Xem</a>
            </div>
        </div>
    {{/each}}
</div>